# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore all csv files
*.csv

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# Ignore venv
env/

# Ignore pkl
*.pkl

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
